/*! hover */
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: overline;
}

/* 2.) active */
button:active{
    background-color: pink;
    color: black;
}
p:active{
    background-color: aqua;
    font-weight: bold;
    color: green;
}
/* 3) checked */
input[type="radio"]:checked+label{
    color: red;
    font-weight: bold;
}

/* 4.) nth of tyype */
/* yaha 2 div ka background chage hoga if 2n likha to every 2nd div ka change hoga means dosre div ka then 4th div ka isi trah if 3n likha to every 3rd element ka color change hoga */

div:nth-of-type(2n){
    background-color: blanchedalmond;
}