h2{
    color: orange;
}
span{
    color:#9d6f24;
}
.card{
    width: 400px;
    border:2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;

}
#pets{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 100%;
    border-radius: 25px;
}
h4{
    text-align: right;
    color: #3c787e;
}
@media (max-width: 375.4px){
    #pets{
        flex-wrap: wrap;
    }
}